<!doctype html>
<html
    version="HTML+RDFa 1.1"
    xmlns:mgd="http://www.midgard-project.org/midgard2/9.03"
    xmlns:sioc="http://rdfs.org/sioc/ns#"
    xmlns:foaf="http://xmlns.com/foaf/0.1/"
    xmlns:dcterms="http://purl.org/dc/terms/">
    <head>
        <title>Palsu App</title>
        <link type="text/css" rel="stylesheet" href="styles/base.css">
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
        
        <script src="js/layout.js" type="text/javascript"></script>
        <script src="js/palsu.js" type="text/javascript"></script>
        <script src="js/contentmanager.js" type="text/javascript"></script>
        <script src="js/discussionmanager.js" type="text/javascript"></script>
        
        <base href="/">
        
    </head>
    
    <%= body %>
    
</html>
