<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html version="HTML+RDFa 1.1"
      lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:doap="http://usefulinc.com/ns/doap#"
      xmlns:sioc="http://rdfs.org/sioc/ns#"
      xmlns:iks = "http://www.iks-project.eu/#"
      xmlns:fise = "http://fise.iks-project.eu/ontology/"
      xmlns:foaf = "http://xmlns.com/foaf/0.1/"
      xmlns:rdfcal="http://www.w3.org/2002/12/cal#">
  <head>
        <title>Palsu &mdash; Online meeting tool</title>
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
        
        <script src="/js/jquery-1.7.1.min.js" type="text/javascript"></script>
        <script src="/js/layout.js" type="text/javascript"></script>
        <script src="/js/contentmanager.js" type="text/javascript"></script>
        
        <script src="/js/tasks.js" type="text/javascript"></script>
        
        <link rel="stylesheet" href="/deps/ui-lightness/jquery-ui-1.8.12.custom.css" />
        <link rel="stylesheet" href="/styles/jquery.ingrid.css" type="text/css" media="screen" />
        <link type="text/css" rel="stylesheet" href="/styles/palsu.css">
    </head>
    <body class="tasks">
        <div id="disconnectMessage"><span>Client disconnected - try to reconnect <abbr id="reconnect_countdown" title=""></abbr></span></div>
        <div id="disconnectMessageLoader"></div>
        <header>
          <div>
            <h1>Task List</h1>
            <div id="account" typeof="foaf:Person" about="#me">
              <span class="avatar" rel="foaf:img">
                <img width="40" src="#" alt="User Picture"/>
              </span>
              <p> 
                Hello, <span property="foaf:nick" id="username">username</span> <span class="fullname">(<span property="foaf:name" id="name">name</span>)</span>!
              </p>
              <nav><a href="/m">Meetings</a> &middot; <a href="/help">Help</a> &middot; <a href="/signout">Sign-out</a></nav>
            </div>
          </div>
        </header>

        <article>
        <h1>Tasks in Palsu</h1>
        <div id="filter" class="actions">
            show: <a href="#" class="task_filter_all_tasks_action">all tasks</a> <a href="#" class="task_filter_my_tasks_action">my tasks</a> | 
            status: <a href="#" class="task_filter_all_status_action">all</a> <a href="#" class="task_filter_open_status_action">open</a> <a href="#" class="task_filter_completed_status_action">completed</a> 
        </div>
        
        <div id="main" class="task_list main_tasks">
            
            <ul typeof="rdfcal:Vcalendar" about="urn:uuid:e1191010-5bb1-11e0-80e3-0800200c9a66" rel="rdfcal:has_component" rev="rdfcal:component">
                <li typeof="rdfcal:Vevent" about="">
                    <a href="" class="event" property="rdfcal:summary">Event title</a>
                    
                    <table class="ingrid datagrid">
                     <thead>
                      <tr>
                       <th class="status">Status</th>
                       <th class="assignee">Assignee</th>
                       <th class="description">Description</th>
                       <th class="start_date">Start date</th>
                       <th class="target_date">Target date</th>
                       <th class="actions">&nbsp;</th>
                      </tr>
                     </thead>
                     <tbody class="tasks" rel="rdfcal:hasTask" rev="rdfcal:taskOf">
                      <tr class="task_complete_action" about="" typeof="rdfcal:Task">
                       <td><span property="rdfcal:completed" content="0"></span></td>
                       <td><span property="foaf:name">Assignee</span> <span property="rdfcal:hasAgent" content=""></span></td>
                       <td><span property="rdfcal:name">Task description</span></td>
                       <td><span property="rdfcal:startDate">yy-mm-dd</span></td>
                       <td><span property="rdfcal:targetDate">yy-mm-dd</span></td>
                       <td><p><a class="small_action edit_action" href="">Edit</a></p></td>
                      </tr>
                       </tbody>
                      </table>
                    
                </li>
            </ul>

        </div>
        <p>&nbsp;</p>
        </article>
    </body>      
</html>
