<!doctype html>
<html>
    <head>
        <title>About Palsu App</title>
        <link type="text/css" rel="stylesheet" href="styles/base.css">
        
        <script type="text/javascript" src="/browserify.js"></script>
        <script type="text/javascript">
            var jQuery = require('jquery-browserify');
        </script>
        
        <script src="js/layout.js" type="text/javascript"></script>
        <base href="/">
        
    </head>
    <body>
        <h1>About the Palsu App</h1>
        <div id="main">
            <div>
                <h2>About</h2>
                    <p>
                        <strong>Palsu</strong> is an interactive meeting tool that is used to demonstrate capabilities of VIE. The idea is to create a tool for coordinating both online and real-world meetings. This means being able to manage:
                    </p>
                    <ul>
                        <li>Meeting scheduling</li>
                        <li>Agenda for meetings</li>
                        <li>Collaboratively written meeting notes</li>
                        <li>Action points (tasks) that arise in the meeting</li>
                        <li>Participants of the meeting, and action points assigned to them</li>
                    </ul>
                    <p>
                        Palsu comes from the Finnish word for a "meeting"
                    </p>
                    <br /><br />
                    <p>
                        At the moment you can only <a href="/signin">login</a> and use Palsu App with your Twitter account via oAuth -- other authentication methods will be supported soon.
                    </p>
            </div>
        </div>
        <div id="sidebar">
            <div>
                <h2>About</h2>
                <div>
                    <p>Palsu App is a meeting tool brought to you by the <a href="http://iks-project.eu">IKS Project</a>.
                    </p>
                    <br /><br />
                    <p>
                        <script type="text/javascript" src="http://www.ohloh.net/p/489057/widgets/project_partner_badge.js"></script>
                    </p>
                </div>
            </div>
            <div>
                <h2>Software</h2>
                <div>
                    <p>
                        Software used in this project:
                    </p>
                    <ul>
                       <li><a href="http://aloha-editor.org/">Aloha Editor</a></li>
                       <li><a href="http://incubator.apache.org/stanbol/">Apache Stanbol</a></li>
                       <li><a href="http://www.iks-project.eu/projects/vienna-iks-editables">Vienna IKS Editables</a></li>
                       <li><a href="http://nodejs.org/">Node.js</a></li>
                       <li><a href="http://socket.io/">Socket.io</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
