<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html version="HTML+RDFa 1.1"
      lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:doap="http://usefulinc.com/ns/doap#"
      xmlns:sioc="http://rdfs.org/sioc/ns#"
      xmlns:iks = "http://www.iks-project.eu/#"
      xmlns:fise = "http://fise.iks-project.eu/ontology/"
      xmlns:foaf = "http://xmlns.com/foaf/0.1/"
      xmlns:rdfcal="http://www.w3.org/2002/12/cal#">
  <head>
        <title>Palsu &mdash; Online meeting tool</title>
        <link rel="SHORTCUT ICON" href="/static/favicon.ico" type="image/x-icon">
        
        <script type="text/javascript" src="/browserify.js"></script>
        <script type="text/javascript">
            var jQuery = require('jquery-browserify');
        </script>

        <script src="/js/contentmanager.js" type="text/javascript"></script>
        <script type="text/javascript" src="/deps/aloha-editor/plugins/vie2/VIE-2/lib/jquery-ui/1.8/js/jquery-ui-1.8.11.custom.min.js"></script>

        <link href="http://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="/deps/ui-lightness/jquery-ui-1.8.12.custom.css" />
        <link rel="stylesheet" href="/styles/palsu.css" />
    </head>
    
    <body class="help">
        <header>
          <div>
             <h1>Help</h1>
            <div id="account" typeof="foaf:Person" about="#me">
              <span class="avatar" rel="foaf:img">
                <img width="40" src="#" alt="User Picture"/>
              </span>
              <p> 
                Hello, <span property="foaf:nick" id="username">username</span> <span class="fullname">(<span property="foaf:name" id="name">name</span>)</span>!
              </p>
              <nav><a href="/m">Meetings</a> &middot; <a href="/t">Tasks</a> &middot; <a href="/signout">Sign-out</a></nav>
            </div>
          </div>
        </header>
        
        <article>
            <h2>How to use Palsu</h2>
            
            <div>
                <p>Palsu is an interactive meeting tool that is used to demonstrate capabilities of <a href="http://wiki.iks-project.eu/index.php/VIE" target="_blank">VIE</a>. The idea is to create a tool for coordinating both online and real-world meetings.</p>
                <p>For further information see also the <a href="http://wiki.iks-project.eu/index.php/VIE/Palsu" target="_blank">IKS Project Wiki page</a></p>
                
                <p>Report issues and feature requests at our <a target="_blank" href="https://github.com/bergie/ViePalsu/issues">issue tracker</a>.</p>
                
                <h3>Adding new meetings and real-time sync</h3>
                <iframe src="http://player.vimeo.com/video/25988373?title=0&amp;byline=0&amp;portrait=0" width="850" height="478" frameborder="0"></iframe>
                <p class="info">Source: <a href="http://vimeo.com/25988373">palsu.me - adding a new meeting / message sync [demo 1]</a></p>
                
                <p>In this screencast you'll see how to add a new meeting to Palsu and how the real-time sync via VIE works.</p>
                <p>Changes to the meeting title, agenda or messages are synced in real-time across the logged-in clients/participants. Double-click to edit the meeting title and agenda. Single-click to add a chat message.<br />
                    The left client is using Safari, in the middle there is one participant using Firefox and the right one is using Google Chrome.</p>
                <p>All active/online participants in a meeting are indicated with a green square in the "Participants" sidebar on the right side.</p>
                
                
                <h3>Extract entities with Apache Stanbol and add manual annotations</h3>
                <iframe src="http://player.vimeo.com/video/25988819?title=0&amp;byline=0&amp;portrait=0" width="850" height="478" frameborder="0"></iframe>
                <p class="info">Source: <a href="http://vimeo.com/25988819">palsu.me - extract entities, add manual annotations [demo 2]</a></p>
                
                <p>All chat messages are analyzed with <a href="http://wiki.iks-project.eu/index.php/Stanbol" >Apache Stanbol</a> -- found entities are added to the "Mentions" sidebar.</p>
                
                <p>In this demo your Twitter contacts are added to your "contact repository". You can use them for mentions in chat messages -- select the name of a <strong>person</strong> you want to annotate, click the person button in the editor and select who you want to mention. Type some chars of the persons name or just use the arrow up/down buttons.<br />Note that only the last 100 contacts are displayed and the selection currently only works with "enter" (there's a bug when using a mouse-click).</p>
                
                <p>To add a <strong>task</strong> to the meeting just select the subject of the task, click the clock symbol select a person like before and then the due to date.</p>
                <p>In the <a href="/t">task view</a> tasks can be filtered by ownership or status. Click on a task in the sidebar or task list to change the complete status -- this is also synced in real-time accross the active clients.</p>
                
                
                <h3>Extra features</h3>
                
                <iframe src="http://player.vimeo.com/video/25989153?title=0&amp;byline=0&amp;portrait=0" width="850" height="478" frameborder="0"></iframe>
                <p class="info">Source: <a href="http://vimeo.com/25989153">palsu.me - embed media/data via oEmbed [demo 3]</a></p>
                
                <p>If you want to embed media like images, slides, videos, wikipedia articles or tweets just paste the URL into the chat input field -- currently we're using <a href="http://www.oohembed.com" target="_blank">oohembed.com</a> as <a href="http://oembed.com" target="_blank">oEmbed</a> service.</p>
                
                <p>&nbsp;</p>
            </div>
        </article>
        
        <script type="text/javascript" defer>
            // js errors without this
            (function(window,undefined){
                var
                $ = window.jQuery,
                GENTICS = window.GENTICS,
                $body = $('body');
                
                // Customise
    			GENTICS.Aloha.settings = {
    				logLevels: {'error': true, 'warn': true, 'info': true, 'debug': false},
    				errorhandling : false,
    				proxyUrl: '/proxy?proxy_url=',
    				"i18n": {
    					"acceptLanguage": 'en'
    				}
			    };
                
                $body.bind('aloha',function(){});
                })(window);
        </script>
        
    </body>
</html>
