<!DOCTYPE html>
<html
    version="HTML+RDFa 1.1"
    xmlns:cal="http://www.w3.org/2002/12/cal#"
    xmlns:sioc="http://rdfs.org/sioc/ns#"
    xmlns:dcterms="http://purl.org/dc/terms/">
    <head>
        <title>Vie Palsu</title>
        <script type="text/javascript" src="/browserify.js"></script>
        <script type="text/javascript">
            var jQuery = require('jquery-browserify');
        </script>
        <script src="js/contentmanager.js" type="text/javascript"></script>
        <script src="js/meetings.js" type="text/javascript"></script>
    </head>
    <body>
        <h1>Meetings in Palsu</h1>
        <ul typeof="cal:Vcalendar" about="urn:uuid:e1191010-5bb1-11e0-80e3-0800200c9a66" rel="cal:has_component" rev="cal:component">
            <li about="" typeof="cal:Vevent">
                <a href="" property="cal:summary">Event title</a>
            </li>
        </ul>
        <form>
            <label>Add a meeting
                <input id="newevent" type="text" />
            </label>
            <button type="button" id="eventadd">Add</button>
        </form>
    </body>
    
	<script type="text/javascript" defer>
		(function(window,undefined){
			// Prepare
			var
				$ = window.jQuery,
				GENTICS = window.GENTICS,
				$body = $('body');

			// Customise
			GENTICS.Aloha.settings = {
				logLevels: {'error': true, 'warn': true, 'info': true, 'debug': false},
				errorhandling : false,
				"i18n": {
					// let the system detect the users language
					//"acceptLanguage": 'de-de,de;q=0.8,it;q=0.6,en-us;q=0.7,en;q=0.2'
				},
				"plugins": {
					"com.gentics.aloha.plugins.Ribbon": {
						enable: false
					},

					"format": {
						// all elements with no specific configuration get this configuration
						config : [ 'b', 'i','sub','sup'],
							editables : {
							// no formatting allowed for title
							'#meeting-title'	: [ ],
							// formatting for all editable DIVs
							'#chat-input'		: [ 'b', 'i', 'del', 'sub', 'sup'  ],
							// content is a DIV and has class .article so it gets both buttons
							'.article'	: [ 'b', 'i', 'p', 'title', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'pre', 'removeFormat']
							}
					},

				}
			};

			// Bind to Aloha Ready Event
			$body.bind('aloha',function(){
				//$('#chat-input').aloha();
			});
			
		})(window);

	</script>
    
</html>
