<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html version="HTML+RDFa 1.1"
      lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:doap="http://usefulinc.com/ns/doap#"
      xmlns:sioc="http://rdfs.org/sioc/ns#"
      xmlns:iks = "http://www.iks-project.eu/#"
      xmlns:fise = "http://fise.iks-project.eu/ontology/"
      xmlns:foaf = "http://xmlns.com/foaf/0.1/"
      xmlns:rdfcal="http://www.w3.org/2002/12/cal#">
  <head>
    <title>Palsu &mdash; Online meeting tool</title>
    <link href="http://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/browserify.js"></script>
    <script type="text/javascript">
      var jQuery = require('jquery-browserify');
    </script>
    <script src="/js/contentmanager.js" type="text/javascript"></script>
    <script src="/js/meetings.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/styles/palsu.css" />
  </head>
  <body class="meetings">
      <div id="disconnectMessage"><span>Client disconnected - try to reconnect <abbr id="reconnect_countdown" title=""></abbr></span></div>
      <div id="disconnectMessageLoader"></div>
    <header>
      <div>
        <h1>Palsu &mdash; Online meeting tool</h1>
        <div id="account" typeof="foaf:Person" about="#user">
          <span class="avatar" rel="foaf:img">
            <img width="40" src="#" alt="User Picture"/>
          </span>
          <p> 
            Hello, <span property="foaf:nick" id="username">username</span> <span class="fullname">(<span property="foaf:name" id="name">name</span>)</span>!
            <nav><a href="/t">Tasks</a> &middot; <a href="/signout">Sign-out</a></nav>            
          </p>
        </div>
      </div>
    </header>

    <article>
      <h1>Meetings in Palsu</h1>
      <div id="main" class="meetings">
        <ul typeof="rdfcal:Vcalendar" about="urn:uuid:e1191010-5bb1-11e0-80e3-0800200c9a66" rel="rdfcal:has_component" rev="rdfcal:component">
          <li about="" typeof="rdfcal:Vevent">
            <a href="" property="rdfcal:summary">Event title</a> 
            <abbr title="" class="easydate"></abbr><span property="dc:created">date</span>
            <div property="mgd:agenda"></div>
          </li>
        </ul>
      </div>
    </article>

    <aside>
      <div>
          <h3>Add Meetings</h3>
          <p>Add a new meeting to the agenda and invite your contacts to join a meeting.<br />Just tell them the URL of a meeting.</p>
          <br />
          <label><strong>Meeting title</strong><br />
            <input id="newevent" type="text" />
          </label>
          <button type="button" id="eventadd">Add</button>
      </div>
    </aside>
    
    <script type="text/javascript" defer>
        // js errors without this
        (function(window,undefined){
            var
            $ = window.jQuery,
            GENTICS = window.GENTICS,
            $body = $('body');
            
            // Customise
			GENTICS.Aloha.settings = {
				logLevels: {'error': true, 'warn': true, 'info': true, 'debug': false},
				errorhandling : false,
				proxyUrl: '/proxy?proxy_url=',
				"i18n": {
					"acceptLanguage": 'en'
				},
				"plugins": {
					"annotations": {
            		    "Services" : {
            		        "fise" : {
            		            ApiEndpoint: 'http://dev.iks-project.eu:8080/engines/' // 'http://stanbol.iksfordrupal.net/engines/'
            		        }
            		    }
            		}
            		
				}
			};

			
            $body.bind('aloha',function(){});
            })(window);
    </script>
  </body>
</html>