<!DOCTYPE html> 
<html version="HTML+RDFa 1.1" 
      lang="en"
      xmlns:doap="http://usefulinc.com/ns/doap#">
  <head>
    <title>Palsu &mdash; Online meeting tool</title>
    <link rel="stylesheet" href="/styles/palsu.css" />
    <link href="http://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/browserify.js"></script>
    <script type="text/javascript">
      var jQuery = require('jquery-browserify');
    </script>
    <script src="/js/contentmanager.js" type="text/javascript"></script>
    <script src="/js/meetings.js" type="text/javascript"></script>
  </head>
  <body class="meetings">
    <header>
      <div>
        <h1>Palsu</h1>
        <div id="account" typeof="foaf:Person" about="#user">
          <span class="avatar" rel="foaf:img">
            <img width="40" src="#" alt="User Picture"/>
          </span>
          <p> 
            Hello, <span property="foaf:nick" id="username">username</span> <span class="fullname">(<span property="foaf:name" id="name">name</span>)</span>!
            <nav><a href="/t">Tasks</a> &middot; <a href="/signout">Sign-out</a></nav>            
          </p>
        </div>
      </div>
    </header>

    <article>
      <h1>Meetings in Palsu</h1>
      <div id="main" class="meetings">
        <ul typeof="rdfcal:Vcalendar" about="m" rel="rdfcal:has_component" rev="rdfcal:component">
          <li about="" typeof="rdfcal:Vevent">
            <h2><a href="" property="rdfcal:summary">Event title</a></h2>
            <div property="mgd:agenda">
              <p>meeting agenda text</p>
            </div>
          </li>
        </ul>
      </div>
    </article>
    
    <aside>
      <div>
          <h3>Add new Meetings</h3>
          <br />
          <p>Add a new public/private meeting to your agenda.</p>
          <p>Invite your contacts to join a meeting at the meeting page or just tell them the URL of a meeting.</p>
          <br />
      <form>
          <label><strong>Meeting title</strong><br />
            <input id="newevent" type="text" />
          </label>
          <button type="button" id="eventadd">Add</button>
          <br />
          <label>is a private meeting
            <input id="private" type="checkbox" disabled/>
          </label>
      </form>
      </div>
    </aside>
    
    <footer>
        &nbsp;
    </footer>
    
    <script type="text/javascript" defer>
        // js errors without this
        (function(window,undefined){
            var
            $ = window.jQuery,
            GENTICS = window.GENTICS,
            $body = $('body');
            $body.bind('aloha',function(){});
            })(window);
    </script>
  </body>
</html>