<!doctype html>
<html
    version="HTML+RDFa 1.1"
    xmlns:mgd="http://www.midgard-project.org/midgard2/9.03"
    xmlns:sioc="http://rdfs.org/sioc/ns#"
    xmlns:dcterms="http://purl.org/dc/terms/">
    <head>
        <title>Vie Palsu</title>
        <link type="text/css" rel="stylesheet" href="/styles/base.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
        <script src="/js/layout.js" type="text/javascript"></script>
        <script src="/js/contentmanager.js" type="text/javascript"></script>
        <script src="/js/discussionmanager.js" type="text/javascript"></script>
    </head>
    <body typeof="cal:Vevent" about="#meeting">
        <h1 property="cal:summary">Meeting Title</h1>
        <div id="main">
            <div id="agenda">
                <h2>Agenda</h2>
                <section property="mgd:agenda">
                    <p>
                        Write the meeting agenda here.
                    </p>
                </section>
            </div>
            <div id="chat-history" rel="sioc:container_of" rev="sioc:has_container">
                <dl about="#meeting-comments" typeof="sioc:Forum" rel="sioc:container_of" rev="sioc:has_container">
                    <div typeof="sioc:Post" about="#post1">
                        <dt>Screen name</dt>
                        <dd class="message" >
                            <div property="sioc:content">
                                <p>Post contents</p>
                            </div>
                        </dd>
                    </div>
                </dl>
            </div>
            <div id="chat-input">
                <div></div>
            </div>
        </div>
        <div id="sidebar">
            <div>
                <h2>Participants</h2>
                <div></div>
            </div>
            <div>
                <h2>Tasks</h2>
                <div></div>
            </div>
            <div>
                <h2>Mentions</h2>
                <div></div>
            </div>
        </div>
    </body>
</html>
