<!DOCTYPE html> 
<html version="HTML+RDFa 1.1" 
      lang="en"
      xmlns:doap="http://usefulinc.com/ns/doap#">
  <head>
    <title>Palsu &mdash; Online meeting tool</title>
    <link rel="stylesheet" href="/styles/palsu.css" />
    <link href="http://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet" type="text/css" />
  </head>
  <body class="welcome">
    <header>
      <div>
        <h1 property="doap:name">Palsu</h1>
      </div>
    </header>
    <article property="doap:description">
      Palsu is an online collaborative meeting tool. Instead of each participant keeping their own meeting notes, we transform the meeting to a conversation where everybody can add their remarks as the meeting progresses. Meeting notes can be used to add tasks and mention people related to the meeting.
    </article>
    <aside>
      Log in with
      
      <a href="/oauth-signin?p=twitter"><img width="310px" style="margin-top: 15px" src="/static/twitter.png" alt="Twitter" /></a>
      <!-- a href="/oauth-signin?p=linkedin"><img src="/static/linkedin.png" alt="LinkedIn" /></a -->
    </aside>
    <footer>
      <p><a href="http://wiki.iks-project.eu/index.php/VIE/Palsu" rel="doap:homepage">Palsu</a> is <a href="http://www.opensource.org/licenses/mit-license.php" rel="doap:license">free software</a> developed by the <a href="http://iks-project.eu">IKS Project</a> and co-funded by the European Union <img src="/static/eu_flag.jpg" alt="EU" align="absmiddle" /></p>
      <p><a href="https://github.com/bergie/ViePalsu">Fork us on GitHub</a></p>
    </footer>
  </body>
</html>
