body {
    background-color: #ffffff;
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 0px;
    padding: 0px;
}

a {
    color: #204a87;
    text-decoration: none;
}

header {
    background-color: #555753;
    padding-top: 4px;
}

header > div {
    background-color: #babdb6;
    background: -webkit-gradient(linear, left top, left bottom, from(#d3d7cf), to(#888a85));
    background: -moz-linear-gradient(top, #d3d7cf, #888a85);
    margin-bottom: 1em;
    height: 80px;
    padding-left: 2em;
}

header h1 {
    margin: 0px;
    padding: 0px;
    padding-top: 0.9em;
    text-transform: uppercase;
    font-family: "Orbitron", sans-serif;
    font-size: 22pt;
    color: #ce5c00;
    text-shadow: #ffffff 0px 0px 2px;
}

header #account {
    position: absolute;
    right: 1em;
    top: 1em;
    font-size: smaller;
    width: 300px;
}
header #account img {
    float: left;
    margin-right: 1em;
}
header #account .fullname {
}


article {
    padding-left: 2em;
    float: left;
    width: 70%;
    height: 78%;
    margin-right: 1em;
}

aside {
    padding-right: 2em;
    float: left;
    width: 25%;
}

aside.ui-accordion {
    width: 25%;
}

aside.ui-accordion div {
    height: 40%;
}

body.welcome article, body.meetings article {
    padding-left: 2em;
    float: left;
    width: 25em;
    display: block;
    font-size: larger;
}

body.welcome aside {
    display: block;
    float: left;
    width: 300px;
    height: 100px;
    text-align: center;
    padding: 1em;
    margin-left: 3em;
    -moz-box-shadow: 3px 3px 4px #babdd6;
    -webkit-box-shadow: 3px 3px 4px #babdd6;
    box-shadow: 3px 3px 4px #babdd6;
    border-radius: 8px;
}

body.welcome aside img {
    display: block;
}

body.meetings aside {
    display: block;
    float: left;
    width: 350px;
    height: 200px;
    padding: 1em;
    margin-left: 3em;
    -moz-box-shadow: 3px 3px 4px #babdd6;
    -webkit-box-shadow: 3px 3px 4px #babdd6;
    box-shadow: 3px 3px 4px #babdd6;
    border-radius: 8px;
}

body.welcome footer, body.meetings footer {
    display: block;
    clear: left;
    padding-top: 6em;
    padding-left: 2em;
    vertical-align: middle;
    height: 1em;
}

#chat-history {
    overflow-x: auto;
    height: 80%;
    margin-bottom: 18%;
}

#chat-history div[typeof="sioc:Post"] {
    margin: 0 0 5px 0;
    overflow: auto;
    clear: left;
}

#chat-history div[rel="foaf:depiction"] {
    float: left;
    padding: 2px;
    width: 30px;
    height: 30px;
}

#chat-history div[property="dc:creator"] {
    width: 200px;
    float: left;
    margin: 0 0 2px 3px;
    font-weight: bold;
}

#chat-history div[class="message"] {
    width: 90%;
    float: left;
    margin: 0 0 0 13px;
}

#chat-input {
    position: absolute;
    bottom: 0px;
    width: 70%;
    height: 18%;
    margin: 0px;
    padding: 0px;
}

#chat-input div {
    width: 85%;
    float: left;
    margin: 0px;
    padding: 1em;
    min-height: 70%;
}

#chat-input button {
    display: block;
    float: right;
    height: 100%;
    width: 9%;
    margin: 0px;
    padding: 0px;
}

aside .persons span[property="iks:online"][content="1"] {
    background-color: #73d216;
    color: #73d216;
    width: 10px;
    height: 10px;
    display: inline-block;

}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 8px;
}
 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 8px;
    background: #d3d7cf;
}

.task_status_completed {
    color: green;
    list-style-image: url('/static/icons/tick.png');
}

.task_status_active {
    list-style-image: url('/static/icons/stop.png');
}

.task_complete_action {
    cursor:pointer;
}

.small_action {
    font-size: small;
}

.annotation_person {
    background-color: #CCFF99;
}

.annotation_task {
    background-color: #99ffff;
}

#newevent {
    font-size: 20px;
}

#eventadd {
    font-size: 20px;
}

article li[typeof="rdfcal:Vevent"] {
    margin: 3px 0 0 0;
}

#account p {
    margin: 5px 0 5px 0;
    font-weight: bold;
}

#account span[property="foaf:nick"] {
    font-style: italic;
}


/* iks test buttons */
button.GENTICS_button_addPerson {
	background-position: -224px 0 !important;
}

button.GENTICS_button_addEvent {
	background: url('/static/icons/time_add.png') no-repeat !important;
}

button.GENTICS_button_datepicker {
	background: url('/static/icons/date.png') no-repeat !important;
}

.GENTICS_Datepicker_Createdialog {
	z-index: 99999;
	position: absolute;
	background-color: #F0F0F0;
	border: 1px solid #cccccc;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}