body {
    background-color: #ffffff;
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 0px;
    padding: 0px;
}

a {
    color: #204a87;
    text-decoration: none;
}

header {
    background-color: #555753;
    padding-top: 4px;
}

header > div {
    background-color: #babdb6;
    background: -webkit-gradient(linear, left top, left bottom, from(#d3d7cf), to(#888a85));
    background: -moz-linear-gradient(top, #d3d7cf, #888a85);
    margin-bottom: 1em;
    height: 80px;
    padding-left: 2em;
}

header h1 {
    margin: 0px;
    padding: 0px;
    padding-top: 0.9em;
    text-transform: uppercase;
    font-family: "Orbitron", sans-serif;
    font-size: 22pt;
    color: #ce5c00;
    text-shadow: #ffffff 0px 0px 2px;
}

header #account {
    position: absolute;
    right: 1em;
    top: 1em;
    font-size: smaller;
    width: 200px;
}
header #account img {
    float: left;
    margin-right: 1em;
}
header #account .fullname {
    display: none;
}

article {
    padding-left: 2em;
    float: left;
    width: 70%;
    height: 78%;
    margin-right: 1em;
}

aside {
    padding-right: 2em;
    float: left;
    width: 25%;
}

aside.ui-accordion {
    width: 25%;
}

aside.ui-accordion div {
    height: 40%;
}

body.welcome article {
    padding-left: 2em;
    float: left;
    width: 25em;
    display: block;
    font-size: larger;
}

body.welcome aside {
    display: block;
    float: left;
    width: 300px;
    height: 100px;
    text-align: center;
    padding: 1em;
    margin-left: 3em;
    -moz-box-shadow: 3px 3px 4px #babdd6;
    -webkit-box-shadow: 3px 3px 4px #babdd6;
    box-shadow: 3px 3px 4px #babdd6;
    border-radius: 8px;
}

body.welcome aside img {
    display: block;
}

body.welcome footer {
    display: block;
    clear: left;
    padding-top: 6em;
    padding-left: 2em;
    vertical-align: middle;
    height: 1em;
}

#chat-history {
    overflow-x: auto;
    height: 80%;
    margin-bottom: 18%;
}

#chat-history div[typeof="sioc:Post"] {
    margin: 0 0 5px 0;
    overflow: auto;
    clear: left;
}

#chat-history div[rel="foaf:depiction"] {
    float: left;
    padding: 2px;
    width: 30px;
    height: 30px;
}

#chat-history div[property="dc:creator"] {
    width: 200px;
    float: left;
    margin: 0 0 2px 3px;
    font-weight: bold;
}

#chat-history div[class="message"] {
    width: 90%;
    float: left;
    margin: 0 0 0 13px;
}

#chat-input {
    position: absolute;
    bottom: 0px;
    width: 70%;
    height: 18%;
    margin: 0px;
    padding: 0px;
}

#chat-input div {
    width: 85%;
    float: left;
    margin: 0px;
    padding: 1em;
    min-height: 70%;
}

#chat-input button {
    display: block;
    float: right;
    height: 100%;
    width: 9%;
    margin: 0px;
    padding: 0px;
}

aside .persons span[property="iks:online"][content="1"] {
    background-color: #73d216;
    color: #73d216;
    width: 10px;
    height: 10px;
    display: block;
    float: left;
}